@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Ruda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Playfair+Display&display=swap');


/* New Add 2022 */
@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&family=Stint+Ultra+Expanded&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Mulish:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=PT+Sans:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Gentium+Book+Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kreon&family=Ubuntu:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@700&family=Maitree&display=swap');

p {
    color: #6c757d;
    margin-bottom: 0;
    line-height: 1em;
}

/*Pair*/
.font-atma-bold {font-family: 'Atma', cursive;}
.font-maitree-regular {font-family: 'Maitree', serif;}


/*Pair*/
.font-metal-mania-regular {font-family: 'Metal Mania', cursive;}
.font-nunito-sans {font-family: 'Nunito Sans', sans-serif;}


/*Pair*/
.font-kreon-regular {font-family: 'Kreon', serif;}
.font-ubuntu-bold {font-family: 'Ubuntu', sans-serif;}


/*Pair*/
.font-alfaslab-regular {font-family: 'Alfa Slab One', cursive;}
.font-gentium-regular {font-family: 'Gentium Book Basic', serif;}


/*Pair*/
.font-lato-light {font-family: 'Lato', sans-serif;}
.font-playfair-bold {font-family: 'Playfair Display', serif;}


/*Pair*/
.font-montserrat-bold {font-family: 'Montserrat', sans-serif;}
.font-opensans-light {font-family: 'Open Sans', sans-serif;}


/*Pair*/
.font-merriweather-bold {font-family: 'Merriweather', serif;}
.font-worksans-regular {font-family: 'Work Sans', sans-serif;}


/*Pair*/
.font-nunito { font-family: 'Nunito', sans-serif; }
.font-pt-sans { font-family: 'PT Sans', sans-serif; }


/*Pair*/
.font-lobster { font-family: 'Lobster', cursive; }
.font-mulish { font-family: 'Mulish', sans-serif; }


/*Pair*/
.font-eb-garamond { font-family: 'EB Garamond', serif; }
.font-poiret-one { font-family: 'Poiret One', cursive; }


/*Pair*/
.font-cinzel { font-family: 'Cinzel', serif; }
.font-italiana {  font-family: 'Italiana', serif; }


/*Pair*/
.font-cabin { font-family: 'Cabin', sans-serif; }
.font-roboto-condensed { font-family: 'Roboto Condensed', sans-serif; }

/*Pair*/
.font-playfair-bold { font-family: 'Playfair Display', serif; font-weight: 700;}
.font-work-sans { font-family: 'Work Sans', sans-serif; }

/*Pair*/
.font-open-sans { font-family: 'Open Sans', sans-serif; }
.font-raleway { font-family: 'Raleway', sans-serif; }

/*Pair*/
.font-playfair-italic { font-family: 'Playfair Display', serif; font-style: italic; }
.font-source-sans { font-family: 'Source Sans Pro', sans-serif; }

/*Pair*/
.font-lora { font-family: 'Lora', serif; }
.font-roboto { font-family: 'Roboto', serif; }

/*Pair*/
.font-abril { font-family: 'Abril Fatface', cursive; }
.font-poppins { font-family: 'Poppins', sans-serif; }

/*Pair*/
.font-roboto-slab { font-family: 'Roboto Slab', serif; }
.font-ruda {font-family: 'Ruda', sans-serif;}

/*Pair*/
.font-cormorant {font-family: 'Cormorant Garamond', serif;}
.font-fira-sans {font-family: 'Fira Sans', sans-serif;}

/*Pair*/
.font-playfair-regular {font-family: 'Playfair Display', serif; font-weight: 400;}
.font-pt-sans{font-family: 'PT Sans', sans-serif;}

/*Pair*/
.font-stint-ultra-expanded {font-family: 'Stint Ultra Expanded', cursive;}
.font-pontano-sans {font-family: 'Pontano Sans', sans-serif;}

/*Pair*/
.font-montserrat-alternates {font-family: 'Montserrat Alternates', sans-serif;}
.font-oswald{font-family: 'Oswald', sans-serif;}
