


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300&display=swap');



p {
    color: #6c757d;
    margin-bottom: 0;
}

/*Pair*/
.font-cabin { font-family: 'Cabin', sans-serif; }
.font-roboto-condensed { font-family: 'Roboto Condensed', sans-serif; }

/*Pair*/
.font-playfair-bold { font-family: 'Playfair Display', serif; font-weight: 700;}
.font-work-sans { font-family: 'Work Sans', sans-serif; }

/*Pair*/
.font-open-sans { font-family: 'Open Sans', sans-serif; }
.font-raleway { font-family: 'Raleway', sans-serif; }

/*Pair*/
.font-playfair-italic { font-family: 'Playfair Display', serif; font-style: italic; }
.font-source-sans { font-family: 'Source Sans Pro', sans-serif; }

/*Pair*/
.font-lora { font-family: 'Lora', serif; }
.font-roboto { font-family: 'Roboto', serif; }


/*Pair*/
.font-abril { font-family: 'Abril Fatface', cursive; }
.font-poppins { font-family: 'Poppins', sans-serif; }













