


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Ruda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Playfair+Display&display=swap');


p {
    color: #6c757d;
    margin-bottom: 0;
    line-height: 1em;
}

/*Pair*/
.font-cabin { font-family: 'Cabin', sans-serif; }
.font-roboto-condensed { font-family: 'Roboto Condensed', sans-serif; }

/*Pair*/
.font-playfair-bold { font-family: 'Playfair Display', serif; font-weight: 700;}
.font-work-sans { font-family: 'Work Sans', sans-serif; }

/*Pair*/
.font-open-sans { font-family: 'Open Sans', sans-serif; }
.font-raleway { font-family: 'Raleway', sans-serif; }

/*Pair*/
.font-playfair-italic { font-family: 'Playfair Display', serif; font-style: italic; }
.font-source-sans { font-family: 'Source Sans Pro', sans-serif; }

/*Pair*/
.font-lora { font-family: 'Lora', serif; }
.font-roboto { font-family: 'Roboto', serif; }

/*Pair*/
.font-abril { font-family: 'Abril Fatface', cursive; }
.font-poppins { font-family: 'Poppins', sans-serif; }

/*Pair*/
.font-roboto-slab { font-family: 'Roboto Slab', serif; }
.font-ruda {font-family: 'Ruda', sans-serif;}

/*Pair*/
.font-cormorant {font-family: 'Cormorant Garamond', serif;}
.font-fira-sans {font-family: 'Fira Sans', sans-serif;}

/*Pair*/
.font-playfair-regular {font-family: 'Playfair Display', serif; font-weight: 400;}
.font-pt-sans{font-family: 'PT Sans', sans-serif;}










